<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Knight</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Rycerze</h1>
<div class="container">
    Aktualny czas<span th:text="${timecomponent.time}"></span>
    Posiadane zloto<span th:text="${playerinformation.gold}"></span>
    <p th:text="${knight.name}"></p>
    <p th:text="${knight.age}"></p>
    <p th:text="${knight.level}"></p>
</div>
</body>
</html>